@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,500;1,600&family=Poppins:ital,wght@0,200;1,200&family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Poppins', sans-serif;
    font-size: 100%;
	background-color: #fffcfc;
}
/* styling the header */
header,footer{
font-size: 1.5em;
background-color: rgba(0, 0, 0, 0.897);
color: #fff;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
      
}
.nav-img img{
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50%;
    
}

ul li{
    display: inline-block;
    padding: 0px 2.5rem;
    list-style: none;
	translate: 200ms ease-in;
}
ul li a{
	text-decoration: none;
	color: #fff;

}
ul li a:hover{
    padding: 1.5rem 1.25rem;
	background-color: #fff;
	color: black;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 1s ease-out;
}
/* styling the hero-section */
.hero-sect{
	padding: 4.0625rem;
    margin-top: 0.9375rem; 
}
.hero-section{
    display:flex;
    justify-content:space-around;
	margin: 1.25rem 0;

}
.message{
    margin-top: 5rem;
    line-height: 2.5em;
}
.message h3{
    font-size: 2em;
}
h1{
    font-size: 5em;
    margin-top: 3.125rem;
    text-align: center;
	font-family: 'Poppins', sans-serif;
	line-height: 1.5em;
    animation: anim 2s ease 0s 1 normal forwards;

}
@keyframes anim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}
.message p{
	margin-top: 1.875rem;
	font-size: 1.5em;
	
}

.heroImage{
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
}
.btn-cv{
	background-color: rgb(11, 10, 77);
	color: #fff;
	width: 18.75rem;
	border-radius: 10px;
	display: block;
	margin:1.25rem -0.125rem;
	translate: 200ms ease-in;
	
}
.btn-cv a{
	text-decoration: none;
	color: #fff;
}

.btn-cv:hover{
cursor: pointer;
background-color: black;
}

/* STYLING ABOUT ME SECTION */
.About-Me{
	padding: 3.125rem;
}
h2{
	text-align: center;
	font-size: 2.5em;
	margin-bottom: 1.25rem;
}
.About-Me,.contacts{
	background-color: #eee;
	padding: 3.125rem;
}
.About-Me-msg{
	margin:0 auto ;
	width: 50rem;
}
.About-Me-msg p{
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5em;
	text-align: justify;
	/* font-weight: 600; */
}
.img_gallery{
	display: flex;
	justify-content: space-between;
	margin-top:1.875rem;
}
.gallery_img{
	width: 18.75rem;
	border: 2px solid #000;
	border-radius: 10px;
}

/* STYLING THE PROJECTS COMPONENT */
.project{
	margin-top: 1.25;
	padding: 2.5rem 0.625rem;

}
.project-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.9375rem;
	padding: 0 0.9375rem;
	animation: project 2s ease 0s 1 normal forwards;
	margin-left: 1.25rem;
}
@keyframes project {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}
.project-item2 a img{
	width: 37.5rem;
}

/* styling form */
.contacts{
	padding: 2.1875rem;
}
.contact-form{
	margin: 0 auto;
	width: 56.25rem;
	
}
form{
	margin-left: 5.625rem;
}
.input input{
	width: 40.625rem;
	padding: 0.8125rem 0.625rem;
	margin: 0.625rem auto;
	font-size: 1.2em;
	border: 0;
	border-radius: 8px;
}
button{
	/* width: 600px; */
	padding: 0.625rem 2.1875rem;
	background-color: blue;
	color: #fff;
	font-size: 1.3em;
	border: 0;
	border-radius: 15px;
	display: block;
	margin: 1.25rem auto;
}
button:hover{
background-color: rgb(2, 2, 121);
transition: background-color 2s ease-out;
cursor: pointer; 
}
/* STYLING FOOTER */
.footer-note{
	display: flex;
	justify-content: space-around;
	padding: 0.625rem 1.25rem;
}
.fa-brands,.fa-solid{
	font-size: 1.5em;
	padding: 0.3125rem 1.25rem;
}
a .fa-solid, a i {
	text-decoration: none;
	color: #fff;
}
a .fa-solid:hover, a i:hover{
	color: blue;
}

/* media quieries */
@media (min-width:901px) and (max-width:1200px) {
	.hero-sect{
	padding: 2.1875rem;
    margin-top: 0.3125rem; 
}
.hero-section{
	margin: 0.625rem auto;

}
.message{
    margin-top: 3.125rem;
    line-height: 1.5em;
}
.message h3{
    font-size: 1.5em;
}
h1{
    font-size: 3em;
	text-align: left;
}
.message p{
	margin-top: 1.875rem;
	font-size: 1.5em;
	
}

.heroImage{
    width: 15.625rem;
    height: 15.625rem;
}
.btn-cv{
	width: 15.625rem;
	margin-top:0.9375rem	
	
}

.img_gallery{
	display: flex;
	flex-wrap: wrap;
}
.gallery_img{
	width: 21.875rem;
	margin-top: 0.9375rem;
}
.project-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.5625rem;
}
.project-item2 a img{
	width: 24.5rem;
}

/* STYLING FOOTER */
.footer-note{
	display: flex;
	flex-wrap: wrap;
}
.fa-brands,.fa-solid{
	font-size: 1.2em;
	padding: 0.3125rem 0.65rem
}

}
@media (min-width:600px) and (max-width:900px){
	/* header */
	header,footer{
		font-size: 1em;
		
		}
		nav{
			display: flex;
			margin: 0.3125rem;
			  
		}
		.nav-img img{
			width: 3.125rem;
			height: 3.125rem;	
		}
		
		ul li{
			
			padding: 0px 1.25rem;

		}
	
		ul li a:hover{
			padding: 0.875rem 0.9375;
			
		}
		/* .hero-sect */
		
		.hero-section{
			display:flex;
			flex-direction: column;
		
		}
		.hero-sect{
			background: linear-gradient(#000000b9,#000000b9),url("./image/projects.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			padding: 25px; 
			color: #dfcece;
		}
		
		h1{
			font-size: 3em;
			margin-top: 3.125rem;
			font-weight: 600;
			line-height: 2em;
		
		}
		.hero-sect{
	padding: 4.0625rem;
    margin-top: 0.9375rem; 
}
.hero-section{
    display:flex;
    justify-content:space-around;
	margin: 1.25rem 0;

}
.message{
    margin-top: 5rem;
    line-height: 2.5em;
}
.message h3{
    font-size: 2em;
}
h1{
    font-size: 5em;
    margin-top: 3.125rem;
    text-align: center;
	font-family: 'Poppins', sans-serif;
    animation: anim 2s ease 0s 1 normal forwards;

}
		.message h3{
			font-size: 3em;
			text-align: center;
		}
		.message p{
			text-align: center;
			
		}
		.message{
			margin-top: 2.5rem;
		}
		.btn-cv{
			margin: 0.625rem auto;
		}
			
		.heroImage{
			display: none;
		}

		/* styling .About-Me */
		.About-Me-msg{
			
			width: 31.25rem;
		}
		.About-Me-msg p{
			
			line-height: 2em;
			
		}
		.img_gallery{
			display: flex;
			flex-wrap: wrap;
		}
		.gallery_img{
			width: 23.125rem;
			margin: 0.9375rem auto;
		}
		.project-container{
			display:block;
			margin-left: 80px;

		}
		.project-item2 a img{
			width: 26.5rem;
			margin: 0.625rem 1rem;
		}
		.contact-form{
			margin: 0 auto;
			width: 31.25rem;
			
		}
		.input input{
			width: 28.125rem;
			padding: 0.8125rem 0.625rem;
			margin: .625rem auto;
		}
		form{
			margin:0;
		}
		textarea{
			width: 28.125rem;
		}
		
		
}
@media (min-width:250px) and (max-width:599px){
	/* header */
	header,footer{
		font-size: 1em;
		}
		nav{
			display:flex;
			margin: 0.3125rem;
			  
		}
		.nav-img img{
			width: 1.875rem;
			height:1.875rem;	
		}
		
	
		/* .hero-sect */
		.hero-sect{
			background: linear-gradient(#000000b9,#000000b9),url("./image/projects.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			background-position:center;
			padding: 25px; 
			color: #dfcece;
		}
		
		h1{
			font-size: 3em;
			margin-top: 3.125rem;
			font-weight: 600;
			line-height: 1.5em;
		
		}
		.message h3{
			font-size: 2em;
			text-align: center;
			
		}
		
		.message{
			margin-top: 2.5rem;
		}
		.btn-cv{
			margin: 0.625rem auto;
		}
			
		.heroImage{
			display: none;
		}

		/* styling .About-Me */
		.About-Me-msg{
			
			width: 18.75rem;
		}
		.About-Me-msg p{
			
			line-height: 2em;
			
		}
		.img_gallery{
			display: flex;
			flex-wrap: wrap;
		}
		.gallery_img{
			width: 16.875rem;
			margin-top: 0.9375rem;
		}
		.project-container{
			display:block;


		}
		.project-item2 a img{
			width: 16.5rem;
			margin: 0.625rem 1rem;
		}
		.contact-form{
			margin: 0 auto;
			width: 18.125rem
			
		}
		.input input{
			width: 17.5rem;
		}
		form{
			margin:0;
		}
		textarea{
			width: 17.5rem
		}
		.footer-note{
			display: flex;
			flex-wrap: wrap;
			margin-top: 0.625rem;
		}
		.fa-brands,.fa-solid{
			font-size: 1.2em;
			padding: 0.3125rem 0.625rem
		}
	}
		

