@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,500;1,600&family=Poppins:ital,wght@0,200;1,200&family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Poppins', sans-serif;
    font-size: 100%;
	background-color: #fffcfc;
}
/* styling the header */
header,footer{
font-size: 1.5em;
background-color: rgba(0, 0, 0, 0.897);
color: #fff;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
      
}
.nav-img img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    
}

ul li{
    display: inline-block;
    padding: 0px 40px;
    list-style: none;
	translate: 200ms ease-in;
}
ul li a{
	text-decoration: none;
	color: #fff;

}
ul li a:hover{
    padding: 24px 20px;
	background-color: #fff;
	color: black;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 1s ease-out;
}
/* styling the hero-section */
.hero-sect{
	padding: 65px;
    margin-top: 15px; 
}
.hero-section{
    display:flex;
    justify-content:space-around;
	margin: 20px 0;

}
.message{
    margin-top: 120px;
    line-height: 2em;
}
.message h3{
    font-size: 2em;
}
h1{
    font-size: 5em;
    margin-top: 50px;
    text-align: center;
	font-family: 'Poppins', sans-serif;
    animation: anim 2s ease 0s 1 normal forwards;

}
@keyframes anim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}
.message p{
	margin-top: 30px;
	font-size: 1.5em;
	
}

.heroImage{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}
.btn-cv{
	background-color: rgb(11, 10, 77);
	color: #fff;
	width: 300px;
	border-radius: 10px;
	display: block;
	margin:20px 70px;
	translate: 200ms ease-in;
	
}
.btn-cv a{
	text-decoration: none;
	color: #fff;
}

.btn-cv:hover{
cursor: pointer;
background-color: black;
}

/* STYLING ABOUT ME SECTION */
.About-Me{
	padding: 50px;
}
h2{
	text-align: center;
	font-size: 3em;
	margin-bottom: 20px;
}
.About-Me,.contacts{
	background-color: #eee;
	padding: 50px;
}
.About-Me-msg{
	margin:0 auto ;
	width: 800px;
}
.About-Me-msg p{
	font-size: 1.5em;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5em;
	text-align: justify;
	/* font-weight: 600; */
}

/* STYLING THE PROJECTS COMPONENT */
.project{
	margin-top: 20px;
	padding: 40px 10px;

}
.project-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 15px;
	padding: 0 15px;
	animation: project 2s ease 0s 1 normal forwards;
}
@keyframes project {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}
.project-item2 a img{
	width: 800px;
}

/* styling form */
.contacts{
	padding: 50px;
}
.contact-form form{
	margin: 0 auto;
	width: 900px;
	
}
.input input{
	width: 750px;
	padding: 20px 10px;
	margin: 5px 0;
	font-size: 1.4em;
}
button{
	width: 750px;
	padding: 15px 0;
	background-color: blue;
	color: #fff;
	font-size: 1.3em;
	border: 0;
	margin-top: 10px;
}
button:hover{
background-color: rgb(2, 2, 121);
transition: background-color 2s ease-out;
cursor: pointer; 
}
/* STYLING FOOTER */
.footer-note{
	display: flex;
	justify-content: space-around;
	padding: 10px 20px;
}
.fa-brands,.fa-solid{
	font-size: 1.5em;
	padding: 5px 20px;
}
a .fa-solid, a i {
	text-decoration: none;
	color: #fff;
}
a .fa-solid:hover, a i:hover{
	color: blue;
}